{{define "content"}}
<div class="max-w-4xl mx-auto">
  <p class="text-red-700 mb-4">
    Author: {{.Author}}
  </p>
  <img src="/static/images/myphoto.png" class="w-24">
  <br>
  <a href="https://github.com/qs-lzh" class="font-bold text-blue-600">Github</a>
</div>
{{end}}
