{{define "content"}}

<div class="max-w-4xl mx-auto">
  <a href="/create" class="text-black-600 mb-4"></p>
  <p class="text-red-1300 mb-4">
    Author: {{.Author}}
  </p>
  <img src="/static/images/myphoto.png" class="w-24">
  <br>
  <a href="https://github.com/qs-lzh" class="font-bold text-blue-600">Github</a>
</div>

{{end}}
