{{define "base"}}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>This is Title</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

  <header class="bg-blue-600 text-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between items-center h-16">
        <!-- Logo -->
        <div class="flex-shrink-0">
          <p class="text-5xl font-bold">QS</p>
        </div>

        <nav class="hidden md:flex space-x-8">
          <a href="/home" class="hover:text-gray-200">Home</a>
        </nav>
      </div>
    </div>
  </header>

  <main class="container">
    {{with .Flash}}
      <div class="flash">{{.}}</div>
    {{end}}

    {{template "content" .}}
  </main>

  <footer class="bg-blue-600 text-white py-6 mt-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
      &copy; 2025 MyWebsite. All rights reserved.
    </div>
  </footer> 
  
  <script src="/assets/js/main.js"></script>
</body>
</html>

{{end}}
