{{define "header"}}
<header class="bg-blue-600 text-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <!-- Logo -->
      <div class="flex items-center space-x-2">
        <p class="text-5xl font-bold">QS - Todo List</p>
      </div>

      <nav class="hidden md:flex space-x-8">
        <a href="/home" class="hover:text-gray-200">Home</a>
        <a href="/todo/create" class="hover:text-gray-200">Create</a>
        <a href="/user" class="hover:text-gray-200">User</a>
      </nav>
    </div>
  </div>
</header>
{{end}}
